.barentsburg__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
	.barentsburg__info {
		padding: 0 48px;
	}
}

@media screen and (max-width: 910px) {
	.barentsburg__info {
		flex-direction: column;
		
	}
}

@media screen and (max-width: 768px) {
	.barentsburg__info {
		padding: 0 24px;
		
	}
}

@media screen and (max-width: 425px) {
	.barentsburg__info {
		padding: 0 16px;
	}
}