.content-title {
	font-weight: 900;
	font-size: 4.5em;
	line-height: 1.1;
	text-align: center;
	margin: 0 auto 30px;
	max-width: 800px;
}

@media screen and (max-width: 768px) {
	.content-title {
		font-size: 2.6em;
		margin-bottom: 24px;
		max-width: 600px;
	}
}

@media screen and (max-width: 375px) {
	.content-title {
		font-size: 2em;
	}
}