.lead__title {
	font-size: 6em;
	font-weight: 900;
	line-height: 1;
	max-width: 782px;
    width: 100%;
	margin: 0 auto 34px;
}

@media screen and (max-width: 768px) {
	.lead__title {
		font-size: 12.5vw;
	}
}

@media screen and (max-width: 425px) {
	.lead__title {
		font-size: 2.5em;
		line-height: 1.1;
		margin-bottom: 17px;
	}
}